.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr)); /* Dynamically adjust columns */
    gap: 16px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .gridItem {
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 226px;
    gap: 5px;
  }
  .gridItem h5{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

  }
  .gridItem p{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

  }
  .btn {
    border:none;
    color: #D2042D;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
}