.biggerDiv {
    width: auto;
    gap: 24px;
    background-size: 100% 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: black;
    flex-direction: column;
    align-items: center;
}

.About{
    width: 100%;
    gap: 24px;
    background-size: 100% 100%;
    display: flex;
    text-align: center;
    padding: 90px 120px 30px 120px;
    justify-content: center;
    background-color: black;
    flex-direction: column;
    align-items: center;
}

.bread{
    width: 70%;
    gap: 40px;
    display: block;
    z-index: 3;
    margin: 0;

}


.bread h1{
    font-weight: 600;
    font-size: 80px;
    line-height: 79.2px;
    align-items: center;
    color: #ffffff;
    width: auto;
    margin: 0;
    font-family: "BRFirma";
    margin-right: auto;
    margin-left: auto;
    letter-spacing: -0.4px;
}

.bread p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.4px;
    align-items: center;
    color: #dedfe3;
    padding: 3%;
    width: auto;
    font-family: "BRFirma";
    
}

.bread button{
    /* Width: 156px;
    height: 56px; */
    border-radius: 1000px;
    padding: 13px 48px ;
    gap: 8px;
    color: #ffffff;
    background-color:  #D2042D;
    border: none;
    font-size: 16px;
    text-align: center;
}


.bread button:hover {
    background-color: #D2042D;;
}

.icon {
    width: 20px;
    height: 10px;
    margin-left: 8px;
}

.red{
    color:#D2042D;
}

.img1 {
    position: absolute;
    top: 25%;
    left: 5%;
    display: inline-block;
    animation: bounce 2s infinite
}

.img2 {
    position: absolute;
    right: 5%;
    top: 25%;
    display: inline-block;
    animation: bounce 2s infinite
}

.img3 {
    position: absolute;
    bottom: 0.5%;
    left: 10%;
    display: inline-block;
    animation: bounce 2s infinite
}

.dash{
    z-index: 5;
   
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0px);
    }
    10% {
      transform: translateY(-20px);
    }
    10% {
      transform: translateY(-20px);
    }
  }
  

