.word{
    padding: 64px 180px;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 40px;
    align-items: center;
    margin-bottom: 56px;
    padding: 125px 0;
}

.text{
    width: 100%;
    height: 100%;
    justify-self: baseline;
    border: 1px solid #DEDFE3;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

.text .words {
    padding: 24px 0;
}
.text .words h2 {
    text-align-last: left;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 700;
    color: #202020;
}
.text .words p {
    font-size: 16px;
    font-weight: 500;
    color: #7A7A7A;
}
.header h2 {
    font-size: 28px;
    font-weight: 700;
    color: #09101d;
    text-align: left;
    margin-bottom: 8px;
    line-height: 36px;
}

.text p {
    line-height: 28px;
    font-size: 18px;
    font-weight: 400;
    color: #383B43;
    text-align: left;
}
.header{
    display: contents;
} 



.bread {
    display: flex;
    justify-content: space-between;
    align-items: right;
    gap: 40px;
    padding: 80px 0;
    
}
.bread .crumb {
    flex: 60%;
    margin-left: 60px;
}
.bread .words {
    flex: 40%;
    margin-right: 60px;
    /* display: flex;
    flex-direction: column; */
    /* width: 50%; */
    /* width: 100%; */


}
.bread h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    align-items: right;
    color:#09101d;
    width: auto;
    margin: 0;
    font-family: "BRFirma";
    margin-bottom: 24px;
    /* padding: 8px;
    flex:50%;
    padding:40px,0 ; */
    
}

.bread p{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.4px;
    align-items: right;
    color: #6666;
    margin-bottom: 32px;    
    width: auto;
    
}
.icon{
    list-style: none;
    display: flex;
    display: inline-flex;
    align-items: center;
    
}
.icon img {
    margin-right: 11px;
}

.button{
       /* Width: 156px;
    height: 56px; */
    border-radius: 1000px;
    padding: 13px 48px ;
    gap: 8px;
    color: #ffffff;
    background-color:  #D2042D;
    border: none;
    font-size: 16px;
    text-align: center;
    margin-top: 32px;
}
